<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasFormatSpecificSettings>
        <garminCustomMaxMapCount>100</garminCustomMaxMapCount>
    </atlasFormatSpecificSettings>
    <bandwidthLimit>0</bandwidthLimit>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customProxyHost></customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort></customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <directories/>
    <downloadRetryCount>1</downloadRetryCount>
    <downloadThreadCount>2</downloadThreadCount>
    <elementName>Layer</elementName>
    <googleLanguage>en</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpAccept>text/html,image/png,image/jpeg,image/gif,image/webp,*/*; q=0.1</httpAccept>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <ignoreDlErrors>false</ignoreDlErrors>
    <localeCountry></localeCountry>
    <localeLanguage>en</localeLanguage>
    <mainWindow>
        <size>800/590</size>
        <position>0/33</position>
        <maximized>true</maximized>
        <rightPanelVisible>true</rightPanelVisible>
        <leftPanelVisible>true</leftPanelVisible>
        <leftPanelWidth>342</leftPanelWidth>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <mapOverlapTiles>0</mapOverlapTiles>
    <mapSourcesDisabled/>
    <mapSourcesEnabled>
        <mapSource>4uMaps</mapSource>
        <mapSource>CanadaToporama</mapSource>
        <mapSource>FreemapSlovakia</mapSource>
        <mapSource>FreemapSlovakiaCyclo</mapSource>
        <mapSource>FreemapSlovakiaHiking</mapSource>
        <mapSource>IGNBase</mapSource>
        <mapSource>IgnMtmRaster</mapSource>
        <mapSource>IgnPnoa</mapSource>
        <mapSource>MapsforgeWorld</mapSource>
        <mapSource>New Zealand Topographic Maps</mapSource>
        <mapSource>OSMPublicTransport</mapSource>
        <mapSource>Official OpenStreetMap (Custom)</mapSource>
        <mapSource>OpenStreetMap Hikebikemap.de</mapSource>
        <mapSource>Turaterkep256</mapSource>
        <mapSource>UMP-pcPL</mapSource>
        <mapSource>USGS National Map Relief</mapSource>
        <mapSource>USGS National Map Satellite</mapSource>
        <mapSource>USGS National Map Satellite &amp; Topo</mapSource>
        <mapSource>USGS National Map Topo</mapSource>
        <mapSource>WanderreitkarteAbo</mapSource>
        <mapSource>cb-enra</mapSource>
        <mapSource>cb-enrh</mapSource>
        <mapSource>cb-enrl</mapSource>
        <mapSource>cb-hc</mapSource>
        <mapSource>cb-sec</mapSource>
        <mapSource>cb-tac</mapSource>
    </mapSourcesEnabled>
    <MapSourcesUpdate>
        <etag>"11b-5c542ae757540"</etag>
    </MapSourcesUpdate>
    <mapviewCenterCoordinate lat="11.19658900726911" lon="123.70948791503906"/>
    <mapviewGridZoom>-1</mapviewGridZoom>
    <mapviewMapSource>CartoDB Voyager (OSM)</mapviewMapSource>
    <mapviewSelectionMax>906407936/503746560</mapviewSelectionMax>
    <mapviewSelectionMin>905486336/502767616</mapviewSelectionMin>
    <mapviewZoom>11</mapviewZoom>
    <maxMapSize>65536</maxMapSize>
    <osmHikingTicket></osmHikingTicket>
    <paperAtlas>
        <compression>6</compression>
        <crop>15</crop>
        <dpi>96</dpi>
        <marginBottom>22.6</marginBottom>
        <marginLeft>22.6</marginLeft>
        <marginRight>22.6</marginRight>
        <marginTop>22.6</marginTop>
        <overlap>28.2</overlap>
        <compass>true</compass>
        <pageNumbers>true</pageNumbers>
        <scaleBar>true</scaleBar>
        <wgsEnabled>true</wgsEnabled>
        <paperSize>A4</paperSize>
        <wgsDensity>SECOND_1</wgsDensity>
    </paperAtlas>
    <placeBookmarks/>
    <proxyType>CUSTOM</proxyType>
    <selectedZoomLevels>
        <zoomLevel>10</zoomLevel>
        <zoomLevel>11</zoomLevel>
        <zoomLevel>12</zoomLevel>
        <zoomLevel>13</zoomLevel>
        <zoomLevel>14</zoomLevel>
        <zoomLevel>15</zoomLevel>
        <zoomLevel>16</zoomLevel>
        <zoomLevel>17</zoomLevel>
        <zoomLevel>18</zoomLevel>
    </selectedZoomLevels>
    <tileDefaultExpirationTime>2433148535</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>31743402975</tileMaxExpirationTime>
    <tileMinExpirationTime>434079772</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>MOBAC/2.3.3</userAgent>
    <version>2.3.3</version>
    <wgsGrid>
        <color>#0000ff</color>
        <compressLabels>false</compressLabels>
        <density>SECOND_1</density>
        <enabled>false</enabled>
        <font>SansSerif-PLAIN-12</font>
        <width>1.0</width>
    </wgsGrid>
</settings>
